.plate
  %p.script
    %span= t('layouts.application.theme_project')
  %p.shadow.text1= t('layouts.application.welcome')
  %p.shadow.text1= t('layouts.application.sign_in')
  %p.shadow.text2= t('layouts.application.or')
  %p.shadow.text1= t('layouts.application.sign_up')
  %p.script
    %span= t('layouts.application.name')
