<div class="plate">
  <p class="script"><span><%= t('layouts.application.theme_project') %></span></p>
  <p class="shadow text1"><%= t('layouts.application.welcome') %></p>
  <p class="shadow text1"><%= t('layouts.application.sign_in') %></p>
  <p class="shadow text2"><%= t('layouts.application.or') %></p>
  <p class="shadow text1"><%= t('layouts.application.sign_up') %></p>
  <p class="script"><span><%= t('layouts.application.name') %></span></p>
</div>