- content_for(:title, 'Edit Account')
.container
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .d-flex
      %h4.mb-3.ml-3 Edit Account
    .field
      = f.label :username, "Username"
      %br/
      = f.text_field :username, autofocus: true, autocomplete: "username", class: "bg-light"
    .field
      = f.label :first_name, "FirstName"
      %br/
      = f.text_field :first_name, autofocus: true, autocomplete: "user_first_name", class: "bg-light"
    .field
      = f.label :second_name, "SecondName"
      %br/
      = f.text_field :second_name, autofocus: true, autocomplete: "user_second_name", class: "bg-light"
    .field
      = f.label :email, "Email"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password, "Password"
      %br/
      = f.password_field :password, autocomplete: "new-password", help: "leave blank if you don't want to change it"
    .field
      = f.label :password_confirmation, "Password Confirmation"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password, "Current Password"
      %br/
      = f.password_field :current_password, autocomplete: "current-password", help: "we need your current password to confirm your changes"
    .d-flex.justify-content-between
      .actions
        = f.submit "Save", class: "btn text-white rounded-pill bg-color"
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
