- if user_signed_in?
  %a.script_company_name
    Friends of interest
  = link_to 'Profile', profile_path(current_user.profile.id)
  -# = link_to t('include.auth.profile'), user_path(current_user.id)
  = link_to t('include.auth.edit'), edit_user_registration_path
  = link_to t('include.auth.exit'), destroy_user_session_path,
    method: :delete
- else
  = link_to t('include.auth.sign_in'), new_user_session_path
  = link_to t('include.auth.sign_up'), new_user_registration_path
