%div{ style:"margin: 30px" }
- if @posts.present?
  - @posts.each do |post|
    .post-container
      .card-post-list.mb-3
        .card-header
          = link_to post.user.profile, class: "text-decoration-none" do
            = image_tag(post.user.profile.avatar_attachment_path, style: "border-radius: 30%;",
                 size: "30x30", alt: "Profile pic")
          %strong
            %span{style: "font-size:0.9rem;" }
              #{post.user.profile.first_name} #{post.user.profile.second_name}
          %div
            %strong
              %span{ style: "font-size:1.5rem" }= post.heading
        .card-body
          %p.card-text= post.content
          %div
            = image_tag post.picture.url if post.picture?
        .card-body-comments.new{ :id => "post-id-#{post.id}" }
          = link_to new_post_comment_path(post), method: :get, remote: true do
            %i.material-icons mode_comment
          - pre_like = post.likes.find { |like| like.user_id == current_user.id}
          - if pre_like
            = link_to post_like_path(post, pre_like), method: :delete do
              %i.material-icons thumb_down
          - else
            = link_to post_likes_path(post), method: :post do
              %i.material-icons thumb_up
          = post.likes.count
        .card-footer
          %small.text-muted.ml-3.pl-4{ style: "font-size:0.7rem" }
            #{time_ago_in_words(post.created_at)} ago
- else
  .center-content{ style: "font-size: 15px" }
    Posts empty
