.row
  .container_two
    .col.s8
      %ol
        %a.script_friends= t('shared.left_sidebar.my_friends')
        = link_to "Search friends", profiles_path, class: "waves-effect waves-light btn-small right", style: "top: 20px"
        %hr
        - if @user.friends.presence
          %ul.collapsible
            %li
              .collapsible-header
                %i.material-icons{style: 'color: green;'}> toggle_on
                = t('shared.left_sidebar.friends.online')
              .collapsible-body
                %ol
                - User.friends_online(@user).each do |friend|
                  = render 'friends_list', friend: friend
            %li
              .collapsible-header
                %i.material-icons{style: 'color: gray;'}> toggle_off
                = t('shared.left_sidebar.friends.offline')
              .collapsible-body
                %ol
                - User.friends_offline(@user).each do |friend|
                  = render 'friends_list', friend: friend
            %li
              .collapsible-header
                %i.material-icons{style: 'color: black;'}> list
                = t('shared.left_sidebar.friends.all')
              .collapsible-body
                %ol
                - @user.friends.each do |friend|
                  = render 'friends_list', friend: friend
        - else
          %div
          Friends list is empty.
          You can find them!
    .col.s4
      = render 'confirmation_list'



