%p.card-text
  = activity.owner.profile.full_name if activity.owner
  updated post
  - if activity.trackable
    = link_to activity.trackable.heading, activity.trackable
  - else
    - post = activity.parameters[:post]
    - if post.present? && Post.find_by_id(post[:id]).present?
      = [post[:heading], ' (Removed Post)'].join
    - else
      Removed Post
  on
  - if activity.trackable
    = link_to activity.trackable.profile.full_name, activity.trackable.profile
  - else
    - if post.user.profile.present?
      = post.user.profile.full_name
    - else
      user
  's wall