- content_for(:title, 'Sign In')
.container
  = render 'devise/shared/form'
  .pb-5.col-lg-5.col-md-5
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .pt-2.shadow.pb-4.mt-5.container.col-lg-7.col-md-12.mb-5
        .field.mt-3
          = f.label :email, "Email"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field.mt-3
          = f.label :password, "Password"
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "bg-light"
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "Forgot your password?", new_password_path(resource_name), class: "small text-dark"
        -# - if devise_mapping.rememberable?
        -#   .field.mt-3remember_me
        -#     = f.check_box :remember_me, include_hidden: false
        -#     Remember me
        .actions.d-flex.justify-content-center.mt-3
          %br
          = f.submit "Sign In", class: "btn btn-default btn-primary"
        %p.text-center.mt-3 OR
        - if devise_mapping.omniauthable?
          = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, |
            class: "btn shadow btn-block btn-primary text-white mb-1"                                 |
        %p.text-muted.small.text-center.text-dark.mt-2
          By continuing, you agree to Kartmans
          = succeed "." do
            %strong Terms of Service, Privacy policy
        .d-flex.justify-content-center.mt-4
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = link_to "Don't have an account? Sign up", new_registration_path(resource_name), class: "small text-decoration-none text-center"
            %br/
