%div{ style:"margin: 30px" }
  - if @rooms.present?
    .all-chat
      .chat-message-last-container
        - @user.rooms.each do |room|
          = link_to room_path(room), style: "color: black;" do
            = render 'rooms/room_user_image', room: room
            #{room.profile.first_name} #{room.profile.second_name}
            .message-last.mb-3
              %p.mb-1
                = room.room_messages.map{ |i| i.message }.last
        - @user.profile.rooms.each do |profile_room|
          = link_to room_path(profile_room), style: "color: black;" do
            = render 'rooms/room_user_image', room: profile_room
            #{profile_room.user.profile.first_name} #{profile_room.user.profile.second_name}
            .message-last.mb-3
              %p.mb-1
                = profile_room.room_messages.map{ |i| i.message }.last