- content_for(:title, 'Post')
.d-flex.justify-content-between
  .container.col-lg-6.d-flex.justify-content-between.flex-row.w-stretch
    .w-100.mb-5
      .shadow-sm.pt-3.pl-4.pr-4.pb-3.mt-3
        .d-flex.justify-content-between
          %div
            %div
              = link_to @post.user, class: "text-decoration-none" do
                = image_tag(current_user.avatar, :class => "rounded-circle mr-2", size: "25x25", alt: "Profile pic")
              %strong
                %span{style: "font-size:0.9rem"}= @post.heading
              %br/
            %div
              %small.text-muted.ml-3.pl-4{style: "font-size:0.7rem"}
                #{time_ago_in_words(@post.created_at)} ago
            .text-decoration-none
              %span.content
                = @post.content
                = image_tag @post.picture.url if @post.picture?
            .dropdown-menu
              = link_to "Delete post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "dropdown-item"
              = link_to "Edit post", edit_post_path(id: @post.id)
        .mt-5
          %hr.solid/
          - @post.comments.order(created_at: :desc).each do |comment|
            .pl-4.pr-4.mt-5.mb-5
              .d-flex.justify-content-between
                %div
                  %div
                    = link_to comment.user, class: "text-decoration-none" do
                      = image_tag(comment.user.avatar, :class => "rounded-circle mr-2", size: "25x25", alt: "Profile pic")
                    %strong
                      %span{style: "font-size:0.9rem"}= comment.user.username
                    %small.text-muted.ml-1{style: "font-size:0.7rem"}
                      \.
                      %span.ml-1= time_ago_in_words(comment.created_at)
                  .dropdown-menu
                    = link_to "Delete comment", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: "dropdown-item"
              .mt-2.comment-img
                = link_to post_comment_path(@post, comment), class: "text-decoration-none" do
                  = comment.comment
              %hr.solid/
    = render 'comments/comment_form'
